<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<head>
	<body>
		<h2>Welcome to my blog site, <%= @user.name%></h2>
		<p>You have successfully  signed up</p>
		<p>Thanks for joining, keep up to date on the new content realesed daily.</p>
	</body>
</html>